.navbar{
    background: #080808 ;
    height: 5rem;
    width: 100vw;
    max-width: 85rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}


.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

/*This is for the Links on the navbar*/
.desktopMenuListItem{
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: #fff;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #778A35;
}

/*This is the contact me button*/
.desktopMenuBtn{
    background: #f3165c;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
    object-fit: cover;
    height: 2rem;
    cursor: pointer;
    
}


.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #D1E2C4;
    border-radius: 1rem;
}

.listItem{
    color: #080808;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: #f3165c;
    border-radius: 0.75rem;
    cursor: pointer;
}

.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.8rem;
    background: #D1E2C4;
}


@media screen and (max-width: 720px){
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }

    .desktopMenuBtn{
        display: none;
    }


}