/* this is for the whole section */
#intro{
    height: calc(100vh - 1rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 4rem;
}

.bg{
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    
}

.introContent{
   height: 100vh;
   width: 100vw;
   padding: 2rem;
   font-size: 3rem;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: #f3165c;
}

.introPara{
    font-size: medium;
    font-weight: 100;
}

.btn{
    background: #f3165c;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
    object-fit: cover;
    height: 2rem;
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.btn:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}



@media screen and (max-width:840px){
    .bg{
     right: -10vw; 
    }
    
    #id{
     margin-top: -2rem;
    }

    .introContent{
        font-size: 10vw;
        margin-top: 9rem;
    }

    .hello{
        font-size: 4.5vw;
    }

    .introPara .introName{
        font-weight: bold;
    }

}


@media screen and (max-width:480px){
    .bg{
      right: -20vw;
    }

}
